@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    background-color:#F4EEE2;
}

h1 {
    margin: 15px auto;
    text-align: center;
}
.left {
    float:left;
    margin-left:20%;
}
.right {
    float:right;
    margin-right:20%
    
}
.container {
    clear:both;
    width:95%;
    margin:0 auto;
    justify-content: center;
	flex-wrap: wrap;
    position: relative;
}
.card {
    margin: 10px;
    display: inline-flex;

    width: 220px;
    height: 260px;
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    text-align: center;
    border-radius:10px;
}
.front,
.back {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    backface-visibility: hidden
}
.matched,
.front {
    height: 83%;
    padding-top: 20%;
    color:#fff;
    font-size:2em;
}
.front {
    background-color:#4FB99F;
    transform: rotateY(180deg);
}
.back {
    background-color:#068587;
    height: 100%;
}
.matched {
    background-color:#FFAAD2;
}
